body {
  background: white;
  color: black;
  font-style: italic;
  transition:
    background-color 0.5s ease,
    color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  text-align: center;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid gray;
  background-color: yellow;
  font-weight: bold;
  transition: 0.3s;
}
body.dark-mode {
  background: black;
  color: white;
}
body.dark-mode button {
  background-color: #202020;
  color: white;
  border-color: gray;
}
