body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  color: #000000;
  transition:
    background-color 0.4s,
    color 0.4s;
}

header,
footer {
  background-color: #e7e9647c;
  text-align: center;
  padding: 15px;
}
nav {
  background-color: #333;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
main {
  padding: 30px;
  text-align: center;
  min-height: 50vh;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
}
body.dark-mode {
  background-color: #3d3b3b;
  color: #ffffff;
}
body.dark-mode header,
body.dark-mode footer {
  background-color: #1e1f50;
}
